# Python
__pycache__/
*.pyc

# Build / executáveis
build/
dist/
*.spec
executavel/

# Ambiente
.venv/
venv/

# VS Code
.vscode/

# Arquivos locais
settings.json

# Dados locais (se tiver dados reais)
dados/*.json

# Logs (se tiver no futuro)
*.log

